<header id="header">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000;">
      <div class="container-fluid">
        <a href="#" class="navbar-brand">Portfolio.</a>
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse1"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse1">
          <div class="navbar-nav ">
            <a href="#home" class="nav-item nav-link mx-4">Home</a>
            <a href="#about" class="nav-item nav-link  mx-4">About</a>
            <a href="#skills" class="nav-item nav-link mx-4">Skills</a>
            <a href="#services" class="nav-item nav-link  mx-4">Services</a>
            <a href="#libraries" class="nav-item nav-link mx-4">Libraries</a>
            <a href="#contact" class="nav-item nav-link mx-4">Contact</a>



        </div>
      </div>
      </div>
      <div class="d-flex"> <button class="btn button-85 pb-4 "  id="downloadLink" data-toggle="tooltip" data-placement="bottom" (click)="downloadPdf()" title="Download CV" style="background:  #a08499; height: 35px;"><i class="fa fa-download" aria-hidden="true"></i>
                     Resume
                  </button></div>
      
    </nav>
</header>
