
.row
{
  display: flex;
  justify-content: space-around;
}

.card1{
  background-color: #bd9dea;

}
.card2{
  background-color: #41b3a3;

}
.card3{
  background-color: #F98866;

}
.card4{
  background-color: #e47e98
}
.card5{
  background-color: #F2c76e;
}
.card{
    height: 400px;
    width: 400px;
    transition: all 0.6s ease-in-out;

}


.card:hover{
  opacity: 0.9;
}
.card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-style: italic;
  box-sizing: border-box;

}
.card2:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px #41b3a3 ;

}
.card3:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px #F98866 ;

}
.card1:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px #bd9dea ;

}
.card4:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px #e47e98 ;

}
.card5:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px #f2c76e ;

}


.left {
  position: sticky;
  left: 0;
  transform: translateY(-50%);
  margin-right: 30px;
}

.right {
  position: sticky;
  right: 0;
  transform: translateY(-50%);
  margin-left: 30px;
}

.scroll-images {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 40px 0px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.child {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 250px;
  padding: 0px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
  box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 10%);;
}


.scroll-images::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.scroll-images::-webkit-scrollbar-thumb {
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
