
<section id="skills">
  <div class="container ">
    <h2><strong>Skills</strong></h2>
    <span class="bar-title mb-5"></span>
    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <button class="left" (click)="leftScroll()" #leftButton>
      <i class="fas fa-angle-double-left"></i>
    </button>
    <div class="scroll-images" #scrollImages>
      <div class="card card1 m-3  child">
        <div class="card-body">
          <h3 class="card-title"><b><u>Technologies</u></b></h3>
          <div class='card-text' *ngFor="let technologie of skills.technologies;">
            <span class="skillLabel">{{technologie.name}}</span>
          </div>
        </div>
      </div>
      <div class="card card2 m-3  child">
        <div class="card-body">
          <h3 class="card-title"><b><u>Design Patterns</u></b></h3>
          <div class='card-text' *ngFor="let dp of skills.designPatterns;">
            <span class="skillLabel">{{dp.name}}</span>
          </div>
        </div>

      </div>
      <div class="card card3 m-3  child">
        <div class="card-body">
          <h3 class="card-title"><b><u>APIs & Integration</u></b></h3>
          <div class='card-text' *ngFor="let apis of skills.api;">
            <span class="skillLabel">{{apis.name}}</span>
          </div>
        </div>

      </div>
      <div class="card card4 m-3  child">
        <div class="card-body">
          <h3 class="card-title"><b><u>Tools</u></b></h3>
          <div class='card-text' *ngFor="let tool of skills.tools;">
            <span class="skillLabel">{{tool.name}}</span>
          </div>
        </div>

      </div>
      <div class="card card5 m-3  child">
        <div class="card-body">
          <h3 class="card-title"><b><u>Methodologies</u></b></h3>
          <div class='card-text' *ngFor="let methodologie of skills.methodologies;">
            <span class="skillLabel">{{methodologie.name}}</span>
          </div>
        </div>

      </div>


    </div>
    <button class="right" (click)="rightScroll()" #rightButton>
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
  </div>

</section>
