<section id="libraries">
  <div class="container">
    <h2><strong>Libraries</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">

          <img
            src="assets/images/libraries/angular.png"
            alt="Angular"
            class="card-img-top"
          />



        <img
          src="assets/images/libraries/.net.png"
          class="card-img-top"
          alt="DotNet"
        />

        <img
          src="assets/images/libraries/node.png"
          class="card-img-top"
          alt="NodeJs"
        />

        <img
          src="assets/images/libraries/npm.png"
          class="card-img-top"
          alt="npm"
        />

        <img
          src="assets/images/libraries/azure.png"
          class="card-img-top"
          alt="azure"
        />

        <img
          src="assets/images/libraries/c.png"
          class="card-img-top"
          alt="c#"
        />

    </div>
    <div class=" row">
      <div class="m-2">
        <img
          src="assets/images/libraries/api.png"
          class="card-img-top"
          alt="Rest API"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/react.png"
          class="card-img-top"
          alt="ReactJS"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/sql.png"
          class="card-img-top"
          alt="MSSQL"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/ts.png"
          class="card-img-top"
          alt="TypeScript"
        />
      </div>

    </div>
    <div class=" row">
      <div class="m-2">
        <img
          src="assets/images/libraries/js.png"
          class="card-img-top"
          alt="JavaScript"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/ef.png"
          class="card-img-top"
          alt="htlm"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/html.png"
          class="card-img-top"
          alt="htlm"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/css.png"
          class="card-img-top"
          alt="css"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/db.png"
          class="card-img-top"
          alt="Database"
        />
      </div>
    </div>
    <div class=" row">
      <div class="m-2">
        <img
          src="assets/images/libraries/mvc.png"
          class="card-img-top"
          alt="mvc"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/jquery.png"
          class="card-img-top"
          alt="jquery"
        />
      </div>
      <div class="lib m-2">
        <img
          src="assets/images/libraries/bootstrap.png"
          class="card-img-top"
          alt="bootstrap"
        />
      </div>

    </div>

  </div>
</section>
