<section class="ftco-section" id="services">
  <div class="container">
      <h2><strong>Services</strong></h2>
      <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="card m-2 mt-5" style="width: 18rem;">
        <picture>
          <img src="assets/images/time-to-market.png" style="height: 200px; width: 300px;"  alt="Profile Photo" class="img-fluid">
      </picture>
      <div class="card-body">
          <h5 class="card-title font-italic"><b>Application Developer</b></h5>
          <p class="card-text font-italic">"Proficient in <b>Angular 15 </b>for dynamic front-end development and <b>.NET 7</b> for powerful back-end solutions."</p>

        </div>
      </div>

      <div class="card m-2 mt-5 " style="width: 18rem;">
        <img src="assets/images/coding.png" style="height: 200px; width: 280px;margin-left: 4.5px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-italic"><b>Web Developer</b></h5>
          <p class="card-text font-italic ">"Dynamic web developer with a focus on creating responsive and interactive web applications. Experienced in the full software development lifecycle. "</p>

        </div>
      </div>

      <div class="card m-2 mt-5" style="width: 18rem;">
        <img src="assets/images/creative.png" style="height: 200px; width: 300px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-italic"><b>Product Strategy</b></h5>
          <p class="card-text font-italic">"Experienced in product strategy, with a keen understanding of market trends."</p>

        </div>
      </div>

      <div class="card m-2 mt-5" style="width: 18rem;">
        <img src="assets/images/connection.png" style="height: 200px; width: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title font-italic"><b>B2B Solutions</b></h5>
            <p class="card-text font-italic">"Specialized in crafting tailored solutions & expertise in developing applications that facilitate seamless B2B interactions."</p>
        </div>
    </div>

      <div class="card m-2 mt-5" style="width: 18rem;">
        <img src="assets/images/b2c.png" style="height: 200px; width: 290px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-italic"><b>B2C Application Developer</b></h5>
          <p class="card-text font-italic">"Skilled in developing customer-facing applications for B2C businesses."
           </p>

        </div>
      </div>

    </div>
  </div>
</section>
