<section id="home"  class="d-flex flex-column justify-content-center align-items-center">

  <div class="hero-container" >
    <div style="padding-bottom: .5rem !important; margin-right: 1rem !important;margin-left: 1rem !important;"><button class="btn button-85  "  id="downloadLink" data-toggle="tooltip" data-placement="bottom" (click)="downloadPdf()" title="Download CV" style="background:  #a08499; height: 35px;"><i class="fa fa-download" aria-hidden="true"></i>

    </button></div>
    <div><h1 >Hello, I am Aman Gupta</h1></div>

  </div>
  <div class="hero-container" data-aos="fade-in">
      <p><span class="typed "></span></p>
  </div>

</section>

